
@media only screen and (min-width: 600px) and (max-width: 770px) {
    .container-list-products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    app-card-product{
        width: calc(33% - 10px);
        margin: 5px;
    }
}

@media only screen and (min-width: 771px) and (max-width: 1000px) {
    .container-list-products{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    app-card-product{
        width: calc(25% - 10px);
        margin: 5px;
    }
}

@media only screen and (min-width: 1001px)  {
    .container-list-products{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    app-card-product{
        width: calc(20% - 10px);
        margin: 5px;
    }
}