<div class="container" *ngIf="listProductsFilter && listProductsFilter.length > 0" >
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Buscador..." aria-label="Username"
      aria-describedby="basic-addon1" [(ngModel)]="searchText" (ngModelChange)="searchProduct(searchText)">
  </div>
  <div class="container-list-products">
    <app-card-product (click)="showProductDetail(product)" [product]="product" *ngFor="let product of listProductsFilter"></app-card-product>
  </div>
</div>