<h5 class="title-specification">{{title}}</h5>
<div class="container-specification" *ngFor="let specification of listSpecification; let i=index">
  <h4>{{specification.title}}</h4>
  <p >{{specification.description}}</p>
</div>