.title-specification{
  color: black;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #B4B4B4;
}

.container-specification{
  width: calc(100%);
  padding-bottom: 10px;
  border-bottom: 1px solid #B4B4B4;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  
}

.container-specification  h4 {
  color: black;
  font-size: 16px;
  margin: 0;
}

.container-specification  p {
  color: #cccccc;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0px;
  margin-top: 8px;
}

@media only screen and (min-width: 600px) and (max-width: 770px) {
  .container-specification{
    flex-direction: row;
    justify-content: space-between;
  }

  .container-specification p{
    margin: 0;
  }
}