<header>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Serempre
    </a>
    <div>
      <span *ngIf="currentUser">
        {{currentUser.name}}
      </span>
      <img src="assets/logout.png" (click)="closeSession()" alt="">
    </div>
    
  </nav>
</header>