.container-preview-images{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-preview-images > img{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  height: 300px;
  object-fit: cover;
}

.container-images{
  width: 100%;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: scroll;
  
}

.container-images img{
  width: calc(33% - 3px);
  margin-right: 5px;
  height: 85%;  
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.border-selected{
  border: 1px solid #282828;
}
