<div class="container-preview-images">
  <img [src]="currentImage" alt="">
  <div class="container-images">
    <img  (click)="selectImage(i)" *ngFor="let image of images; let i=index" [src]="image" alt="">
  </div>
</div>