.btn-login {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 46px;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 210px;
    height: 50px;
  }