<div class="container display-flex" *ngIf="product">

  <div class="container-logo">
    <img id="logo" src="assets/logo.png" alt="">
  </div>


  <app-product-images [images]="product.images"></app-product-images>

  <div class="container-group-info">
    <h4 *ngIf="product.isNew">New Release</h4>
    <h3 class="title-h1">{{product.title}}</h3>
    <p *ngIf="product.subTitle" class="title-h2 color-gris-title">{{product.subTitle}}</p>
    <p class="title-h4 color-gris-title">Starting at</p>
    <p class="title-h1"> {{product.price | currency}}</p>

    <div class="container-options">
      <h5 class="title-h3" (click)="selectItem(i)" [ngClass]="{
        'border-option': currentOption==i,
        'color-gris-title': currentOption!=i
    }" *ngFor="let item of ListMenu; let i=index">{{item}}</h5>
    </div>

    <p class="product-description color-gris-title">{{product.description}}</p>
  </div>


  <div class="container-features">
    <div class="container-features-items" *ngFor="let item of listFeatureOptions; let i=index">
      <img src="{{'./assets/icons/'+item.icon+'.png'}}" alt="">
      <p>{{item.title}}</p>
    </div>
  </div>

  <div class="container-cards-group">
    <app-card-product-options [title]="'Choose your finish'" [productsOptions]="product.choose">
    </app-card-product-options>
    <app-card-product-options [enableClick]="true" [title]="'Would you like to add extended'"
      [productsOptions]="product.extended" (changePrice)="changePriceExtended($event)"></app-card-product-options>
    <app-card-product-options [enableClick]="true" [title]="'Feature'" [productsOptions]="product.feature"
      (changePrice)="changePriceFeature($event)">
    </app-card-product-options>
    <app-card-product-specification [title]="'Specification'" [listSpecification]="product.specification">
    </app-card-product-specification>
  </div>
</div>

<div class="footer-products" *ngIf="product">
  <div class="container footer-alingmen">
    <div class="resumen-a" *ngIf="selectedExtended">
      <p>{{selectedExtended.title | slice:0:15}}</p>
      <p>{{selectedExtended.description| slice:0:10}}</p>
    </div>
    <div class="resumen-c" *ngIf="selectedFeature">
      <p>{{selectedFeature.title| slice:0:15 }}</p>
      <p>{{selectedFeature.description| slice:0:10}}</p>
    </div>
    <div class="resumen-b">
      <div>
        <h2>{{getTotalPrice() | currency}}</h2>
        <p>Need financing? Lead More</p>
      </div>
      <button class="btn btn-primary btn-footer">Buy now</button>
    </div>
  </div>
</div>