.display-flex{
  display: flex;
  flex-direction: column;
}

#logo{
  display: block;
  width: 80px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 8px;
}

.container-logo{
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  order: 0;
}

app-product-images{
  width: 100%;
  display: block;
  order: 1;
}

.container-group-info{
  width: 100%;
  order: 2;
}

h4{
  color: #df1414;
}

.product-description{
  font-size: 18px;
  color: #B4B4B4; 
  font-weight: 300;
}

.container-options{
  width: 100%;
  display: flex;
}

.container-options h5{
  width: 33%;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.border-option{
  border-bottom: 1px solid;
}

.container-features{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 3;
}

.container-cards-group{
  order:4;
}

.container-features-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.container-features-items img{
  display: block;
  margin-bottom: 5px;
}

.footer-products{
  width: 100%;
  background-color: #F1F1F1;
  padding: 20px;
  margin-top: 20px;
}

.footer-alingmen{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
}

.footer-products p {
  color: #AAAAAA;
}

.footer-products h2{
  font-weight: bold;
}

.footer-products h2, .footer-products p{
  text-align: right;
}

.btn-footer{
  width: 100px;
  height: 50px;
  margin-left: calc(100% - 100px);
}

.resumen-a{
  display: none;
}

.resumen-a p{
  color: black;
}

.resumen-c{
  display: none;
}

@media only screen and (min-width: 768px) {
  .footer-alingmen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .resumen-a{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  .resumen-b{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p, h2{
    margin: 0;
  }
  
  .btn-footer{
    margin-left: 30px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container-features{
    flex-direction: row;
  }
  .container-features{
    order: 2;
    margin: 20px 0px;
  }
  .container-group-info{
    order: 3;
  }

  .container-options{
    margin-top: 35px;
    justify-content: start;
  }
  .container-options > h5 {
    width: auto;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1280px){
  .display-flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  app-product-images, .container-group-info, .container-features, .container-cards-group{
    width: 52%;
  }
  .container-features{
    flex-direction: row;
    height: 100px;
  }

  .display-flex{
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  app-product-images{
    position: fixed;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateX(-290px);
    width: 520px;
  }

  .container-features{
    position: fixed;
    top: 610px;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateX(-290px);
    width: 520px;
  }

  .container-group-info{
    width: 51%;
  }

  .container-cards-group{
    padding-bottom: 110px;
  }

  .footer-products{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .footer-alingmen{
    justify-content: space-evenly;
  }

  .resumen-a{
    width: 110px;
  }
  .resumen-c{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin-left: 20px;
    width: 110px;
  }

  .resumen-a p, .resumen-c p{ 
    color: black;
  }

  .resumen-a p:nth-child(2n), .resumen-c p:nth-child(2n) {
    color: #AAAAAA;
  }
  .resumen-b{
    width: calc(100% - 240px);
    justify-content: flex-end;
  }
}



