<div class="container-login">
  <img class="img-close" *ngIf="isRegistre" (click)="closeRegistration()" src="assets/close.png" alt="">
  <div class="image-container">
    <img
      [src]="imageLogin"
      alt="Imagen logo">
  </div>
  <div class="container-form">
    <div *ngIf="errorMessage && errorMessage.length > 0" class="alert alert-danger class-error" role="alert">
      {{errorMessage}}
    </div>

    <img class="imageSerempre" src="assets/logo.png" alt="Logo">
    
    <form [formGroup]="loginForm" >
      <div class="form-group">
        <label for="input-email">Ingrese su correo</label>
        <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Ingrese su email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="input-password">Ingrese su contraseña</label>
        <input type="password" class="form-control" id="input-password"  placeholder="Ingrese su contraseña" formControlName="password">
      </div>
      <div class="form-group" *ngIf="isRegistre" >
        <label for="input-name">Ingrese su nombre</label>
        <input type="text" class="form-control" id="input-name"  placeholder="Ingrese su nombre" formControlName="name">
      </div>
      <div class="form-group form-check aligment-conditions">
        <input type="checkbox" class="form-check-input " id="conditions" [(ngModel)]="isAccepted" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="conditions">Acepto terminos y condiciones</label>
      </div>
      <button type="button"  *ngIf="!isLoading && !isRegistre"  (click)="requestForm()" class="btn btn-primary btn-session">Iniciar sesión</button>
    </form>

    <div class="spinner-border text-primary"  *ngIf="isLoading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <app-google-button *ngIf="!isLoading && !isRegistre" (click)="loginGoogle()"></app-google-button>
    <app-login-button *ngIf="!isLoading" (click)="registreUser()"></app-login-button>
  </div>
</div>