.container-login{
    display: flex;
    width: 100%;
    height: 100%;
}

.container-login > div{
    width: 50%;
    height: 100%;
}

.container-login > .image-container > img{
    width: 100%;
    height: 100%;
    display: block   
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aligment-conditions{
    width: 100%;
    text-align: right;
}

.btn-session{
    float: right;
}

.imageSerempre{
    width: 250px;
    height: 250px;
    margin-bottom: 100px;
    object-fit: cover;
}

.container-form > form {
    width: 80%;
}

app-google-button{
    margin-top: 40px;
}

.spinner-border{
    margin-top: 40px;
}

.img-close{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.class-error{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .image-container{
        display: none;
    }
    .container-login > div{
        width: 100%;
        height: 100%;
    }

    .btn-primary{
        width: 100%;
    }

    .class-error{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}


@media only screen and (min-width: 600px) and (max-width: 760px) {
    .image-container{
        display: none;
    }
    .container-login > div{
        width: 100%;
        height: 100%;
    }

    .btn-primary{
        width: 400px;
        margin: auto;
        display: block;
    }

    .class-error{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

}
