.title-choose{
  color: black;
  margin-bottom: 15px;
}

.border-selected{
  border: 2px solid #5e9bb2 !important;
}

.container-choose{
  width: calc(100%);
  padding: 10px;
  border: 1px solid #B4B4B4;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.container-items{
  width: 100%;
}

.container-choose  h4 {
  color: black;
  font-size: 16px;
  margin: 0;
  
}

.container-choose  p {
  color: #cccccc;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin: 0px;
  margin-top: 8px;
}