<h5 class="title-choose">{{title}}</h5>
<div class="container-choose" 
[ngClass]="{'border-selected': currentIndex==i && enableClick}"
(click)="selectItem(i)" *ngFor="let option of productsOptions; let i=index">
  <div class="container-items">
    <h4>{{option.title}}</h4>
    <p *ngIf="option.description">{{option.description}}</p>
  </div>
  <span *ngIf="option.price">+{{option.price | currency}}</span>
</div>