@font-face {
  font-family: 'Serempre-bold';
  src: url(/assets/font/Circular-Std-Bold.otf) format("truetype");
}

@font-face {
  font-family: 'Serempre-book';
  src: url(/assets/Montserrat/Circular-Std-Book.ttf) format("truetype");
  font-weight:300;
}

@font-face {
  font-family: 'Serempre-medium';
  src: url(/assets/Montserrat/Circular-Std-Medium.ttf) format("truetype");
  font-weight:300;
}


p{
  font-family: 'Serempre-book';
}

h1,h2,h3,h4,h5{
  font-family: 'Serempre-bold';
}

.title-h1{
  font-weight: bold;
  font-size: 30px;
}

.title-h2{
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.title-h3{
  font-size: 22px;
  font-weight: 500;
}

.title-h4{
  font-size: 18px;
  margin-bottom: 5px;
}


.color-gris-title{
  color: #6b6a6a;
}

.color-gris-description{
  color: #5a5a5a;
}