/* You can add global styles to this file, and also import other style files */
app-login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

app-google-button, login-button{
    width: 300px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-header{
    width: 100%;
    height: 56px;
    display: block;
    background-color: seashell;
    position: fixed;
}

main{
    padding-top: 56px;
}

app-carrousel{
    width: 100%;
    height: 300px;
    display: block;
    background-color: snow;
}

app-card-product{
    display: block;
}

app-product{
    display: block;
    width: 100%;
    height: 100vh;
}

app-card-product-options, app-card-product-specification{
    display: block;
    margin-top: 25px;
}

app-product-images{
    width: 100%;
    display: block;
}

@media only screen and (max-width: 600px) {
    app-carrousel{
        height: 250px;
    }
}