.card-product{
    width: 100%;
    height: 85px;
    display: flex;
    border-bottom: 1px solid #cccccc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-product img{
    width: 60px;
    height: 60px;
    display: block;
    object-fit: cover;
}

.card-product .container-info{
    padding: 5px;
}

.card-product .container-info h3{
    font-size: 14px;
    margin: 0px 4px 4px 4px;
}

.card-product .container-info p{
    font-size: 11px;
    color: #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin: 0px 4px 4px 4px;
}

.card-product .container-info span{
    position: relative;
    float: right;
    font-size: 8px;
}

@media only screen and (min-width: 600px) and (max-width: 770px) {
    .card-product{
        
        height: auto;
        display: flex;
        border: 1px solid #cccccc;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-product img{
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
    }
}

@media only screen and (min-width: 771px) and (max-width: 1000px) {
    .card-product{
        height: auto;
        display: flex;
        border: 1px solid #cccccc;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: left;
    }

    .card-product img{
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
    }
    
}

@media only screen and (min-width: 1001px)  {
    .card-product{
        height: auto;
        display: flex;
        border: 1px solid #cccccc;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        float: left;
    }

    .card-product img{
        width: 100%;
        height: 200px;
        display: block;
        object-fit: cover;
    }
    
    .card-product .container-info p{
        font-size: 11px;
        color: #cccccc;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin: 0px 4px 4px 4px;
    }
}