<div class="card-product" *ngIf="product">
  <img *ngIf="product.image" [src]="product.image" alt="">
  <div class="container-info">
    <span>{{product.create.toDate() | date:'mediumDate'}}</span>
    <h3>{{product.title}}</h3>
    <p>{{product.description}}</p>
  </div>
</div>

